
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Blog post styles */
.blog-post {
  grid-column: 2;
  background: radial-gradient(circle at center, rgba(255, 140, 0, 0.4), rgba(255, 140, 0, 0.1), transparent); /* Smoky cloud background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; /* White text color for better readability */
  text-align: center; /* Center the text inside the blog post */
  max-width: 400px; /* Set a maximum width for the blog post */
  background-size: auto 70%; /* Adjust the image size */
  background-position: center center; /* Center the image horizontally and vertically */
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffdb58; /* Yellow text color for better contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.blog-post p {
  line-height: 1.6;
  color: #34495e; /* A contrasting color to the background */
  font-size: 15px; /* Adjusted to be slightly smaller */
}

.blog-post a {
  display: block;
  margin-bottom: 20px; /* Add spacing between paragraphs */
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Add a subtle text decoration */
  transition: border-bottom-color 0.3s ease;
}

.blog-post a:hover {
  text-decoration: none;
  border-bottom-color: transparent; /* Remove the text decoration on hover */
}

.blog-post figcaption {
  font-style: italic;
}
.blog-post img{
  object-fit: contain;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ff8a00;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Social sharing buttons */
.social-buttons {
  margin-top: 10px;
}

.share-btn {
  display: inline-block;
  margin: 5px;
  padding: 8px 16px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.share-btn:hover {
  background-color: #444;
}

/* Individual social buttons */
.facebook-btn {
  background-color: #1877f2;
}

.linkedin-btn {
  background-color: #0a66c2;
}

.x-btn {
  background-color: #1da1f2;
}
.author-details {
  color: coral;
}

/* Media queries for adjusting the font size */
