.container {
    display: grid;
    grid-template-rows: 120px 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }

.grid-container{
    display: grid;
    height: 700px;
    gap: 10px;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: center;
    }
}