.container {
    display: grid;
    grid-template-rows: 120px 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }

.grid-container{
    display: grid;
    height: 700px;
    gap: 10px;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: center;
    }
}


/* for Tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container{
        grid-column: 2;
        grid-row: 1;
    }
}