/* header.css */

header {
  background-color: #FF8A00; /* Orange box color */
  color: #007BFF; /* Complementary blue text color */
  padding: 20px;
  flex: 0 0 15%;
  /* Set the height to create a circular shape */
  height: 100px;
  /* Set the width to create a rounded box */
  border-radius: 50px;
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the header horizontally */
}


header h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: Arial, sans-serif; /* Use a fallback font */
  text-shadow: 1px 1px 1px #957dad,
  1px 2px 1px #957dad,
  1px 3px 1px #957dad,
  1px 4px 1px #957dad,
  1px 5px 1px #957dad,
  1px 6px 1px #957dad,
  1px 10px 5px rgba(16, 16, 16, 0.5),
  1px 15px 10px rgba(16, 16, 16, 0.4),
  1px 20px 30px rgba(16, 16, 16, 0.3),
  1px 25px 50px rgba(16, 16, 16, 0.2);
}

@media (max-width: 767px) {
  header {
    text-align: center; /* Center the header content on mobile devices */
  }

  header h1 {
    font-size: 24px; /* Decrease the font size for mobile devices */
  }
}
