/* Import body styles  */
@import url("body.css");

/* Import header style */
@import url("header.css");

/* Import post card for author */
@import url("card.css");

/* Import container.css for container */
@import url("container.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main content styles */
main{
  grid-row: 2;
  margin-top: 130px;
}
.sidebar {
  min-width: 200px;
}



  .nav-button {
    background-color: #1c87c9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

.older-posts{
  max-width: 55%;
}
/* Import footer style */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ff8a00;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Changes for mobile screens */
@media screen and (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar{
    text-align: center;
  }
  .nav-button{
    display: inline-block;
  }
  .older-posts{
    grid-column: 2;
    grid-row: 3;
    align-items: center;
  }
}