footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  flex: 0 0 15%;
  /* Apply gradient text color for the footer */
  background: linear-gradient(to right, #5C2E00, #FF8A00);
  /* Ensure text is visible on the gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the rest of the background transparent to show the gradient through */
  -webkit-text-fill-color: transparent;
  /* Stick the footer to the bottom of the screen */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer h3 {
  font-family: Arial, sans-serif;
  background-image: radial-gradient(#553c9a, #ee4b2b);
}
.fake-subscribe-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fake-subscribe-button:hover {
  background-color: #0056b3;
}
