header {
  background-color: #FF8A00;
  color: #007BFF;
  padding: 20px;
  flex: 0 0 15%;
  /* Set the height to create a circular shape */
  height: 100px;
  /* Set the width to create a rounded box */
  border-radius: 50px;
  /* Apply circular gradient for the text */
  background-image: conic-gradient(from 0.25turn, #007BFF, #007BFF 25%, #FF8A00 25%, #FF8A00 75%, #007BFF 75%);
  /* Ensure text is visible on the circular gradient */
  -webkit-background-clip: text;
  background-clip: text;
}

header h1 {
  font-size: 32px;
  font-family: Arial, sans-serif; /* Use a fallback font */
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #ddd;
}
