/* header.css */

header {
  background-color: #FF8A00;
  color: transparent;
  padding: 20px;
  flex: 0 0 15%;
}

header h1 {
  font-size: 32px;
  font-family: Arial, sans-serif; /* Use a fallback font */
  font-variant-caps: all-small-caps;
}

