/* Header styles */
header {
  background-color: #ff8a00;
  color: #fff;
  padding: 20px;
  display: flex;
  flex: 0 0 15%; /* Take up 15% of the page height, and don't grow or shrink */
    /* Apply gradient text color for the header */
  background: linear-gradient(to right, #5C2E00, #FF8A00);
  /* Ensure text is visible on the gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the rest of the background transparent to show the gradient through */
  -webkit-text-fill-color: transparent;

}
header::before {
  content: ''; /* Add content to the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF8A00; /* Contrasting color to the text */
  opacity: 0.7; /* Adjust the transparency of the background box */
  z-index: -1; /* Place the pseudo-element below the text */
}
header h1 {
  font-size: 32px;
}
