/* Import Article styles */
import url("article.css");

/* Import header style */
import url("header.css");

/* Import footer style */
import url("footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Set up global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  color: #333;
}
/* Main content styles */
main {
  padding: 20px;
  display: flex;
}

.sidebar {
  min-width: 200px;
}

.blog-post {
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: 1fr; /* Single column by default */
  gap: 20px; /* Add some gap between rows and columns */
  padding: 20px; /* Default padding */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mobile view (up to 767px) */
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
   .blog-post {
      /* smaller padding for smaller screen */
    padding: 15px;
  }

  /* Center align the buttons vertically on mobile */
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    background-color: #1c87c9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
}

/* Larger screens (768px and above) */
@media (min-width: 768px) {
  /* Center align the buttons vertically on larger screens */
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .blog-post {
    /* larger padding for bigger screen */
    padding: 30px;
  }
  .nav-button {
    background-color: #1c87c9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 150px; /* Set a fixed width for larger buttons */
    margin-bottom: 15px;
  }
}

.blog-post-image {
  /* Make the image take up the other half of the available space */
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-image img {
  max-width: 100%;
  height: auto;
}

